services:
  app:
    build: ./
    env_file:
      - ./.env
    restart: unless-stopped
    environment:
      - SURREAL_URI=ws://surrealdb:9000/rpc
      - NODE_ENV=production
    networks:
      - surrealdb-net
networks:
  surrealdb-net:
    external: true